# FLEET CONFIG =================================================================
# RMF Fleet parameters

rmf_fleet:
  name: "invisibot"
  limits:
    linear: [0.5, 0.75] # velocity, acceleration
    angular: [0.6, 2.0] # velocity, acceleration
  profile: # Robot profile is modelled as a circle
    footprint: 0.3 # radius in m
    vicinity: 0.5 # radius in m
  reversible: True # whether robots in this fleet can reverse
  battery_system:
    voltage: 12.0 # V
    capacity: 24.0 # Ahr
    charging_current: 5.0 # A
  mechanical_system:
    mass: 20.0 # kg
    moment_of_inertia: 10.0 #kgm^2
    friction_coefficient: 0.22
  ambient_system:
    power: 20.0 # W
  tool_system:
    power: 0.0 # W
  max_delay: 3600
  recharge_threshold: 0.10 # Battery level below which robots in this fleet will not operate
  recharge_soc: 0.10 # Battery level to which robots in this fleet should be charged up to during recharging tasks
  publish_fleet_state: 2.0 # Publish frequency for fleet state, ensure that it is same as robot_state_update_frequency
  account_for_battery_drain: False
  task_capabilities: # Specify the types of RMF Tasks that robots in this fleet are capable of performing
    loop: True
    clean: True
    delivery: True
  actions: ["clean"]
  finishing_request: "nothing" # [park, charge, nothing]
  responsive_wait: True # Should responsive wait be on/off for the whole fleet by default? False if not specified.
  robots:
    robot0:
        charger: "TopLeft"
        responsive_wait: True # Should responsive wait be on/off for this specific robot? Overrides the fleet-wide setting.
    robot1:
        charger: "BottomLeft"
        responsive_wait: True # Should responsive wait be on/off for this specific robot? Overrides the fleet-wide setting.
    robot2:
        charger: "TopCenterLeft"
        responsive_wait: True # Should responsive wait be on/off for this specific robot? Overrides the fleet-wide setting.
    robot3:
        charger: "BottomCenterLeft"
        responsive_wait: True # Should responsive wait be on/off for this specific robot? Overrides the fleet-wide setting.
    robot4:
        charger: "TopCenterRight"
        responsive_wait: True # Should responsive wait be on/off for this specific robot? Overrides the fleet-wide setting.
    robot5:
        charger: "BottomCenterRight"
        responsive_wait: True # Should responsive wait be on/off for this specific robot? Overrides the fleet-wide setting.
    robot6:
        charger: "TopRight"
        responsive_wait: True # Should responsive wait be on/off for this specific robot? Overrides the fleet-wide setting.
    robot7:
        charger: "BottomRight"
        responsive_wait: True # Should responsive wait be on/off for this specific robot? Overrides the fleet-wide setting.

  robot_state_update_frequency: 2.0 # Hz

fleet_manager:
  prefix: "http://localhost:8080"


# TRANSFORM CONFIG =============================================================
# For computing transforms between Robot and RMF coordinate systems

# Optional
reference_coordinates:
  L1:
    rmf: [[1, 1],
          [1, 1], 
          [1, 1], 
          [1, 1]] 
    robot: [[1, 1], 
          [1, 1], 
          [1, 1], 
          [1, 1]] 